* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body { padding: 10px; }

#terminal {
  position: relative;

  height: 250px;
  width: 450px;

  overflow: auto;
  display: flex;
  /* justify-content: flex-end; */
  flex-flow: column nowrap;
  flex-direction: column;

  background: purple;
  font-family: monospace;
  font-size: 1.15em;
}

#terminal .terminal-header {
  position: fixed;
  width: inherit;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: #333;
  color: #fff;
  
  text-align: center;
  line-height: 30px;
}

.terminal-header .terminal-header-left {
  margin-left: 10px;
}

.terminal-header .terminal-header-right {
  margin-right: 10px;
}

.terminal-header-button {
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9em;
}

#terminal .terminal-body {
  margin-top: auto !important;
  /* use !important to prevent breakage from child margin settings */
}

#terminal .input-container {
  width: auto;
  padding: 5px;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.input-container .cmd {
  width: 100%;
  width: -moz-available;          /* For Mozzila */
  width: -webkit-fill-available;  /* For Chrome */
  width: stretch;                 /* Unprefixed */

  background: none;
  font-weight: bold;
  font-family: monospace;
  color: white;
  border: none;
}

.input-container .cmd:focus {
  outline: none;
}

#terminal .line {
  width: auto;
  font-weight: bold;
  padding: 5px;
  white-space: pre-wrap;
  color: white;
}

#terminal .pager {
  font-weight: bold;
  color: rgb(162, 255, 170);
}

#terminal .command a {
  color: rgb(130, 174, 255);
  font-weight: bold;
}